<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>microProfile-6.0</feature>
        <feature>data-1.0</feature>
        <feature>persistence-3.1</feature>
    </featureManager>
    
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443"/>

    <webApplication location="${project.name}.war" contextRoot="${app.context.root}"/>

    <library id="PostgresLib">
		<fileset dir="${server.config.dir}/lib/postgres" includes="*.jar"/>
	</library>

	<dataSource id="DefaultDataSource" jndiName="jdbc/postgres">
		<jdbcDriver libraryRef="PostgresLib"/>
		<properties.postgresql databaseName="postgres" serverName="localhost" portNumber="5432" user="postgres" password="openliberty"/>
	</dataSource>

</server>
